<!DOCTYPE html>
<html ng-app="directiveApp2">
	<head>
		<title>Directives</title>
		<script src="../bower_components/angular/angular.js"></script>
		<link type="text/css" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
		<link type="text/css" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
		<script type="text/javascript">
			(function(){
				angular.module('directiveApp2', [])
					.controller('defaultCtrl', ['$scope', function($scope){
						$scope.todos = [
							{action: 'Get groceries', complete: false},
							{action: 'Call plumber', complete: false},
							{action: 'Buy running shoes', complete: true},
							{action: 'Buy flowers', complete: false},
							{action: 'Call family', complete: false}
						];
						
						$scope.buttonNames = ['Red', 'Green', 'Blue'];
						$scope.data = {
							rowColor: 'Blue',
							columnColor: 'Green'
						};
						
						$scope.handleEvent = function(e){
							console.log('Event Type: ' + e.type);
							$scope.data.columnColor =  'mouseover' == e.type ? 'Green' : 'Blue';
						};
						
						$scope.tapMessage = "Tap Me!";
						$scope.dataValue = false;
				}]).directive('tap', function(){
					return function(scope, elem, attrs){
						elem.on('touchstart touchend', function(){
							scope.$apply(attrs['tap']);
						});
					};
				});
				
			})();
		</script>
		<style type="text/css">
			.Red {background-color: lightcoral;}
			.Green {background-color: lightgreen;}
			.Blue {background-color: lightblue;}
			
			td > *:first-child{
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
			<h3 class="panel-header">To DO List</h3>
			<div class="checkbox well">
				<label>
					<input type="checkbox" ng-model="dataValue"/>
					Disable the button
				</label>
			</div>
			
			<button class="btn btn-success" ng-disabled="dataValue">
				My Button
			</button>
			<hr/>
			<div class="well" data-tap="tapMessage = 'Tapped!'">
				{{tapMessage}}
			</div>
			
			<div class="well">
				<span ng-repeat="button in buttonNames">
					<button class="btn btn-info" ng-click="data.rowColor = button">
						{{button}}
					</button>
				</span>
			</div>
			
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Action</th>
						<th>Done</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in todos" ng-class="data.rowColor"
						ng-mouseenter="handleEvent($event)"
						ng-mouseleave="handleEvent($event)">
						<td>{{$index + 1}}</td>
						<td>{{item.action}}</td>
						<td ng-class="data.columnColor">{{item.complete}}</td>
					</tr>
				</tbody>
			</table>
			
			<hr/>
			
			<div class="row well">
				<div class="col-xs-6" ng-repeat="(key, val) in settings">
					<h4>{{key}}</h4>
					<div class="radio" ng-repeat="button in buttonNames">
						<label>
							<input type="radio" ng-model="settings[key]"
								   value="{{button}}"/>
							{{button}}
						</label>
					</div>
				</div>
			</div>
			
			<div class="checkbox well">
				<label>
					<input type="checkbox" ng-model="todos[2].complete"/>
					Item 3 is complete
				</label>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Action</th>
						<th>Done</th>
					</tr>
				</thead>
				<tbody>
					<!--<tr ng-repeat="todo in todos" ng-if="!todo.complete">-->
					<!--<tr ng-repeat="todo in todos | filter : {complete: false}">-->
					<tr ng-repeat="todo in todos" ng-class="settings.Rows">
						<td>{{$index + 1}}</td>
						<td ng-repeat="prop in todo">{{prop}}</td>
						<td ng-style="{'background-color': settings.Columns}">
							<!--<span ng-hide="todo.complete">(Incomplete)</span>-->
							<!--<span ng-show="todo.complete">(Complete)</span>-->
							<span ng-if="!todo.complete">(InComplete)</span>
							<span ng-if="todo.complete">(Complete)</span>
						</td>
					</tr>
				</tbody>
			</table>
				
		</div>
	</body>
</html>