<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="sportsStore">
	<head>
		<title>Pro Angular Examples List</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" />
		<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="../bower_components/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script type="text/javascript" src="./app.js"></script>
		<script type="text/javascript" src="./filters/customFilters.js"></script>
		<script type="text/javascript" src="./controllers/productListControllers.js"></script>
	</head>
	<body ng-controller="sportsStoreCtrl as ctrl">
		<div class="navbar navbar-inverse">
			<a class="navbar-brand" href="#">SPORTS STORE</a>
		</div>
		<div class="alert alert-danger" ng-show="data.error">
			Error ({{data.error.status}}). the product data was not loaded.
			<a href="#" class="alert-link">Click here to try again</a>
		</div>
		<div ng-controller="productListCtrl as pctrl" class="panel panel-default row"
			 ng-hide="data.error">
			<div class="col-xs-3">
				<a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
				<a ng-repeat="item in data.products | orderBy: 'category' | unique: 'category'"
					ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg"
					ng-class="getCategoryClass(item)"
					>
					{{item}}
				</a>
			</div>
			<div class="col-xs-8">
				<!--<div class="well" ng-repeat="item in data.products">-->
				<!--<div class="well" ng-repeat="item in data.products | filter: {category: currentCategory}">-->
				<!--<div class="well" ng-repeat="item in data.products | filter: categoryFilterFn">-->
				<div class="well" ng-repeat="item in data.products | filter: categoryFilterFn | range: selectedPage : pageSize">
					<h3>
						<strong>{{item.name}}</strong>
						<span class="pull-right label label-primary">
							{{item.price | currency}}
						</span>
					</h3>
					<span class="lead">{{item.description}}</span>
				</div>
				<div class="pull-right btn-group">
					<a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
					   ng-click="selectPage($index + 1)" class="btn btn-default"
						ng-class="getPageClass($index + 1)">
						   {{$index + 1}}
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
